.Rhistory
audio
videos
_book
.quarto
course
registration
bbr.pdf
brms.r
_freeze
*_files
*_cache
mdlink
messages.txt
insert.txt
harrelfe.bib
apa*.csl
/.quarto/
.Rproj.user
bbr.Rproj
*.rmarkdown
site_libs/
.DS_Store

**/*.quarto_ipynb
